*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
}
main{
    margin-top: 4vh;
}
h1{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
    font-weight: 500;
}
.btn{
    height: 175px;
    width: 175px;
    margin: 0.5rem;
    border-radius: 10%;
    border: 5px solid black;
}
.royalblue{
    background-color: royalblue;
}
.red{
    background-color: rgb(231, 57, 57);
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.flash{
    background-color: white;
}
.flashRed{
    background-color: red;
}
.flashGreen{
    background-color: rgb(30, 226, 30);
}
h3{
    margin-top: 2rem;
}